# Python mess (Virtual Environments)
venv/
__pycache__/
*.py[cod]

# Secret files (Passwords/API keys)
.env

# Database files (Local storage)
*.sqlite3
*.db

# Frontend mess (Downloaded packages)
node_modules/
dist/

# Mac/Windows system junk
.DS_Store
Thumbs.db